<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<base href="/">
	<link rel="stylesheet" href="main.css" />

	<!-- Load ReCaptcha v3 -->
	 <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
	<div class="app">
		{{{ body }}}
	</div>
</body>
</html>