<form action="/register" method="post">
	<div>
		{{#if error}}
		<p class="err-msg">Username or password is incorrect</p>
		{{/if }}
		<h1>Register</h1>
	</div>
	<div class="form-group">
		<label>Username: </label>
		<input 
			type="email" 
			name="username" 
			id="username" 
			placeholder="Enter your email address" 
			required />
	</div>
	<div class="form-group">
		<label>Password:</label>
		<input 
			type="password" 
			name="password" 
			id="password"
			placeholder="Create a password" 
			required />
	</div>
	<div>
		<input type="submit" value="Register" />
	</div>
</form>