<script>
   function onSubmit(token) {
    document.getElementById("register-form").submit();
   }
</script>

<form action="/register" id="register-form" method="post">
	<div>
		{{#if customerror}}
		<p class="err-msg">{{ customerror }}</p>
		{{/if }}
		<h1>Register</h1>
	</div>
	<div class="form-group">
		<label>Username: </label>
		<input 
			type="email" 
			name="username" 
			id="username" 
			placeholder="Enter your email address" 
			tabindex="1"
			required />
	</div>
	<div class="form-group">
		<label>Password:</label>
		<input 
			type="password" 
			name="password" 
			id="password"
			placeholder="Create a password" 
			pattern="(?=.*\d)(?=.*[\W_]).{8,}" 
			tabindex="2"
			required />
	</div>

	<input class="g-recaptcha" 
        data-sitekey="6LccilwmAAAAAH0fmh5S4Ug6QhisVEtE_5InqFrI" 
        data-callback='onSubmit' 
        data-action='submit'
		type="submit"
		value="Register"
		tabindex="3">
	</input>

</form>

