<form action="/resetpassword" method="post">
	<div class="form-group">
		<label>Please enter your new password: </label>
		<input 
			type="password" 
			name="password" 
			id="password" 
			placeholder="Enter your new password" 
			required />
		<input type="hidden" name="token" value="{{ token }}">
	</div>
	<div>
		<input type="submit" value="Reset" />
	</div>
</form>