<form action="/reset" method="post">
	<div class="form-group">
		<label>Please enter the email you used to sign up: </label>
		<input 
			type="email" 
			name="username" 
			id="username" 
			placeholder="Enter your email address" 
			required />
	</div>
	<div>
		<input type="submit" value="Reset" />
	</div>
</form>