* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Fira sans', sans-serif;
}

body {
	background-color: #2F4960;
	background-image: linear-gradient(to bottom right, #2F4960 10%, #102040);
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.home {
	width: 100%;
	max-width: 400px;
	padding: 50px 30px;
	background-color: #ffffff;
	border-radius: 16px;
	text-align: center;
}

form {
	display: block;
	width: 100%;
	max-width: 400px;
	padding: 50px 30px;
	background-image: linear-gradient(to bottom, #00BC7E, #108775);
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
}

form h1 {
	color: #FFF;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.err-msg {
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 15px;
	color: red;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form .form-group {
	margin-bottom: 30px;
}

form label {
	display: block;
	color:#eee;
	font-size: 14px;
	margin-bottom: 5px;
}

form input {
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

form input:not([type="submit"]) {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #222;
	font-size: 18px;
	font-weight: 300;
}

form input:not([type="submit"])::placeholder {
	color: #CCC;
}

form input:not([type="submit"]):focus, form input:not([type="submit"]):valid {
	background-color: #fff;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: #2F4960;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}